{% extends "registration/base_register.html" %}
{% load i18n %}
{% block title %}{{_("password reset")|capfirst}}{% endblock %}

{% block content_header %}{{_("password reset")|capfirst}}{% endblock %}
	
{% block middle-column %}
	<h1 class="sectiontitle">{{_("password reset")|capfirst}}</h1>
	
 	<p class="sectionintrotext">{% trans "Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you" %}.<p>
 	
 	<form action="" method="post">
 	<p class="sectionintrotext">{% if form.email.errors %}{{ form.email.html_error_list }}{% endif %}</p>
 	
 	<p class="sectionintrotext">
 	<label for="id_email">{{_("email address")|capfirst}}:</label><br/>
 	 {{ form.email }} <br/><br/>
 	 <input type="submit" value="{{_("reset my password")|capfirst}}" class="generic_button"/>
 	 </p>
 	</form>
 	
{% endblock %}