{% extends "registration/base_register.html" %}
{% load i18n %}

{% block title %}{{_("password reset")|capfirst}}{% endblock %}

{% block middle-column %}

{% if validlink %}

<h1 class="sectiontitle">{{_("password reset")|capfirst}}</h1>

<p class="sectionintrotext">{% trans "Please enter your new password twice so we can verify you typed it in correctly" %}.</p>

<p class="sectionintrotext">
	<form action="" method="post">
	{{ form.new_password1.errors }}
	<p class="sectionintrotext"><label for="id_new_password1">{{_("new password")|capfirst}}</label><br/>
	{{ form.new_password1 }}</p>
	{{ form.new_password2.errors }}
	<p class="sectionintrotext"><label for="id_new_password2">{{_("confirm password")|capfirst}}</label><br/>
	{{ form.new_password2 }}</p>
	<p class="sectionintrotext"><input type="submit" value="{{_("change my password")|capfirst}}" class="generic_button" /></p>
	</form>
</p>

{% else %}

<h1 class="sectionintrotext error">{{_("password reset unsuccessful")|capfirst}}</h1>

<p class="sectionintrotext">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
