{% load i18n %}
<style>
table.group-table .noborder, .noborder{
border: 0px solid white;
vertical-align:bottom;
}
.center{
text-align:center;
}
</style>
<table class="group-table noborder" cellpadding=0 cellspacing=0 >
<tr style="height:100px;">
<td class="noborder">{{ _("student") }}</td>
{% for lesson in lessons %}
<th class="noborder"><a class="box_rotate" title="{{ lesson }}">{{ lesson.short_name }}</a></th>
{% endfor %}
</tr>
{% for student in group.student_set.all %}
<tr>
<th><a href="{{ student.link }}">{{ student|get_absence_count:lesson }}</a></th>
{% for lesson in lessons %}
<td class="center">0</td>
{% endfor %}
</tr>
{% endfor %}
</table>