{% extends "base.html" %}
{% load i18n %}

{% block jsblock %}
{{ block.super }}
<link rel="stylesheet" href="{{MEDIA_URL}}static_media/jscss/dateinput.css" type="text/css" />
<script>
$.tools.dateinput.localize("{{LANGUAGE_CODE}}", {
   months: '{{_("January")}},{{_("February")}},{{_("March")}},{{_("April")}},{{_("May")}},{{_("June")}},{{_("July")}},{{_("August")}},{{_("September")}},{{_("October")}},{{_("November")}},{{_("December")}}',
   shortMonths:  '{{_("Jan")}},{{_("Feb")}},{{_("Mar")}},{{_("Apr")}},{{_("May")}},{{_("Jun")}},{{_("Jul")}},{{_("Aug")}},Sep")}},Oct")}},{{_("Nov")}},{{_("Dec")}}',
   days:         '{{_("Sunday")}},{{_("Monday")}},{{_("Tuesday")}},{{_("Wednesday")}},{{_("Thursday")}},{{_("Friday")}},{{_("Saturday")}}',
   shortDays:    '{{_("Sun")}},{{_("Mon")}},{{_("Tue")}},{{_("Wed")}},{{_("Thu")}},{{_("Fri")}},{{_("Sat")}}'
});
$(document).ready(function(){
$('input.dateinput').dateinput({format: 'yyyy-mm-dd',lang: '{{LANGUAGE_CODE}}'});
});
function createCookie(name,value,days) {
	if (days) {
		var date = new Date();
		date.setTime(date.getTime()+(days*24*60*60*1000));
		var expires = "; expires="+date.toGMTString();
	}
	else var expires = "";
	document.cookie = name+"="+value+expires+"; path=/";
}
function readCookie(name) {
	var nameEQ = name + "=";
	var ca = document.cookie.split(';');
	for(var i=0;i < ca.length;i++) {
		var c = ca[i];
		while (c.charAt(0)==' ') c = c.substring(1,c.length);
		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
	}
	return null;
}
function eraseCookie(name) {createCookie(name,"",-1);}
</script>
{% endblock %}
{% block title %}{{_("dailyjobs")}}{% endblock %}