{% extends "jobapp/base.html" %}

{% load uni_form %}

{% block jsblock %}
{{ block.super }}
<script>
$(function(){
$("div.handle").click(function(){
	var id = '#itemdet-'+$(this).attr('ref');
	if (!readCookie(id)){
		$(this).removeClass('btn-plus').addClass('btn-minus');
		createCookie(id,true,1);
		$(id).slideDown();
	}else{
		$(this).removeClass('btn-minus').addClass('btn-plus');
		eraseCookie(id);
		$(id).slideUp();
	}
});

$('div.handle').each(function(){
	var id = '#itemdet-'+$(this).attr('ref');
	if(!readCookie(id)){
		$(id).hide();
	}else{
		$(this).removeClass('btn-plus').addClass('btn-minus');
	}
});
});
</script>
{% endblock %}

{% block content %}
<a class="btn btn-add" href="{% url dailyjob_add %}" title="{{_("Add new everyday job")}}">{{_("add dailyjob")}}</a> |
<a class="btn btn-go" title="{{_("My daily jobs statistics")}}">{{_("total statistics")}}</a>

<form method="post" onChange="submit();">
{% csrf_token %}
<h1 id="cur_date">{{_("date")}} {{date|date:"Y-m-d"}}</h1> <a href="javascript:{void();}" onclick="javascript:{$('#cur_date').hide();$('div#date_input').show();}">{{_("edit")}}</a>
<div id="date_input" class="hidden">
<input id="id_date" type="text" class="dateinput" value="{{date|date:"Y-m-d"}}" name="date" />
<br/>
<input type="button" onClick="javascript:{$('#cur_date').show();$('div#date_input').hide();}" value="{{_("cancel")}}"><input type="submit" value="{{_("go")}}">
</div> 
</form>
<div style="padding-top:10px;">
{% if not object_list %}
<h2>{{_("you don't have any daily jobs yet. ")}}</h2>
{% else %}
{% for object in object_list %}
{% include "jobapp/dailyjob_item.html"%}
{% if not forloop.last %}
<hr>
{% endif %}
{% endfor %}
{% endif %}
<div class="noimg">
<img src="{{MEDIA_URL}}static_media/images/bullet_add.png" />
<img src="{{MEDIA_URL}}static_media/images/bullet_go.png" />
<img src="{{MEDIA_URL}}static_media/images/bullet_toggle_minus.png" />
<img src="{{MEDIA_URL}}static_media/images/bullet_toggle_plus.png" />
</div>
</div>

{% endblock %}