{% load i18n jobapp_tags %}
<div>
<div><font size=3><a href="{{ object.stat_link }}">{{ object }}</a></font>
<div class="handle bullet btn-plus" ref="{{ object.pk }}" href="{{ object.stat_link }}">&nbsp;</div>
{% with object|get_tick_for:date as tick %}
<a class="bullet btn-green fr {% if tick.done > 0 %}chosen{% endif %}" href="{% url dailyjob_done_dated year=date.year month=date.month day=date.day id=object.pk %}?next={{curpath}}" title="{{_("done for today")}}">&nbsp;</a> 
<a class="bullet btn-red fr {% if tick.done == 0 %}chosen{% endif %}" href="{% url dailyjob_done_n_dated year=date.year month=date.month day=date.day id=object.pk n=0 %}?next={{curpath}}" title="{{_("not done")}}">&nbsp;</a>
{% endwith %}
</div>
<div id="itemdet-{{ object.pk }}" class="itemdet">
<div class="button-fr">
<a href="{% url dailyjob_done_adv id=object.pk %}" title="{{_("fill in manually")}}">{{_("advanced")}}</a>
</div>
n: {{ object.n }}
{{object.text|linebreaks}}
{% if object.is_on %}
<a class="btn btn-disable" href="{{ object.toggle_link }}" title="{{_("disable")}}">{{_("disable")}}</a>
{% else %}
<a class="btn btn-enable" href="{{ object.toggle_link }}" title="{{_("enable")}}">{{_("enable")}}</a>
{% endif %}
<a href="{{ object.del_link }}" onClick="if(!confirm('{{_("are you sure?")}}')){return false;}" class="btn btn-delete">delete</a>
<a class="btn btn-go" href="{% url dailyjob_tickarch id=object.pk %}" title="{{_("ticks archive")}}">{{_("archive")}}</a>
<a class="btn btn-go" href="{{ object.stat_link }}">statistics</a>
</div>
</div>