{% extends "jobapp/base.html" %}

{% block content %}
<a class="btn btn-add" href="{% url dailyjob_done_adv id=object.pk %}" title="{{_("add tick")}}">{{_("add tick")}}</a><!-- |
 <a class="btn btn-go" href="{% url dailyjob_add %}" title="{{_("My daily jobs statistics")}}">{{_("total statistics")}}</a> -->

<div class="objectlist">
{% for object in object_list %}
<div>
<font color="#aaa">{{object.date|date:"Y b d"}}:</font> {{ object.job }} <font color="#aaa">{{_("finished")}}:</font>{{ object.done }}/{{ object.job.n }} <a href="{{ object.edit_link }}">{{_("edit")}}</a>
</div>
{% if not forloop.last %}
{% endif %}
{% endfor %}
</div>


{% endblock %}