var options = {
	loading:{ showDuration: 1000},
	chart: {
		renderTo: 'container',
		defaultSeriesType: '{{ chart.settings.type }}',
		margin: [50, 150, 60, 80]
	},
	title: {
		text: '{{ chart.settings.title }}',
		style: {
			margin: '10px 100px 0 0' // center it
		}
	},
	subtitle: {
		text: '{{ chart.settings.subtitle }}',
		style: {
			margin: '0 100px 0 0' // center it
		}
	},
	xAxis: {
		categories: {{ chart.get_categories_in_json }},
		style: "font-size:8px;",
		labels: {rotation:70},
		title: {
			text: '{{ chart.settings.xtitle }}'
		}
	},				
	yAxis: {
		title: {
			text: '{{ chart.settings.ytitle }}'
		},
		plotLines: [{
			value: 0,
			width: 1,
			color: '#808080'
		}]
	},
	tooltip: {
		formatter: function() {
                return '<b>'+ this.series.name +'</b><br/>'+
				this.x +': '+ this.y +' {{ settings.tt_sufix }}';
		}
	},
	legend: {
		layout: '{{ chart.settings.layout }}',
		style: {
			left: 'auto',
			bottom: 'auto',
			right: '10px',
			top: '100px'
		}
	},
	series: {{ chart.get_series_in_json }}
};