{% load eplace_tags %}

{% with lesson.lessonday_set.all as lessons %}
<table class="group-table" cellpadding="0" cellspacing="0">
<tr>
  <th>Name</th>
  {% for l in lessons %}
  <th title="Lesson is on {{ l.date|date:"d b Y" }} for {{ lesson.hours }} hours">{{ l.date|date:"d" }}</th>
  {% endfor %}
</tr>
{% with student as object %}
<tr>
  <td><a href="{{ object.link }}" title="Group: {{object.group}}">{{ object }}</a></td>
  {% for l in lessons %}
  <td class="tick" id="tick-{{ l.pk }}" title="{{ object }} {{ object.group }}
  {% with l|get_tick:object as tick %}{% if tick %}Ticked on {{ tick.pub_date|date:"d b Y" }}.{% endif%}{% endwith %}" rel="{{ l.pk }}:{{ object.pk }}">{{ l|get_tick_display:object }}</td>
  {% endfor %}
</tr>
{% endwith %}
</table>
{% endwith %}
