{% extends "eplace/base.html" %}

{% block jsblock %}
{{ block.super }}
<link rel="stylesheet" href="{{MEDIA_URL}}static_media/jscss/dateinput.css" type="text/css" />
<script>
{% include "eplace/teacher/teacher.js" %}
	$(document).ready(function(){
		$('div.w-group').find('a').click(function(){
			if ($(this).hasClass('selected')){
				teacher.groups.deselect(this);
			}else{
				teacher.groups.deselectAll();
				teacher.groups.select(this);
			}
		});
		$('div.w-subject').find('a').click(function(){
			if ($(this).hasClass('selected')){
				teacher.subjects.deselect(this);
			}else{
				teacher.subjects.deselectAll();
				teacher.subjects.select(this);
			}
		});
	});
</script>
{% endblock %}

{% block content %}
<div class="widget-container">
<div>
	<div class="fr widget w-group">
	<h2>Groups</h2>
	{% with teacher.groups.all as object_list %}
	{% for object in object_list %}
	<a rel="{{ object.pk }}">{{ object }}</a>
	{% endfor %}
	{% endwith %}
	</div>
	<div class="widget w-subject">
	<h2>Subjects</h2>
	{% with teacher.subjects.all as object_list %}
	{% for object in object_list %}
	<a rel="{{ object.pk }}">{{ object }} ({{ object.short_name }})</a>
	{% endfor %}
	{% endwith %}
	</div>
	<div class="clear"></div>
</div>
<div class="hidden w-loading"><img src="{{MEDIA_URL}}static_media/images/upload.gif"/></div>
<div class="widget w-table">
</div>
<div class="widget">
<a onClick="teacher.reset();">Reset</a> | <a onClick="teacher.save();">Save</a> | 
<a id="add-ld-trigger" onclick="teacher.openALDOverlay();">Add lesson-day</a> | <a id="gen-ld-trigger" onclick="teacher.openGLDOverlay();">Generate lesson-days</a> 
</div>
</div>
{% endblock %}